<!-- Generated template for the ServerStatusIndicatorComponent component -->
<span>
   <span *ngIf="hasIssue == -1 || hasIssue == 0 ">
  <span *ngIf="['initializing','starting','stopping','deleting','migrating','rebuilding'].includes(server.status)"><i
    class="fas fa-spin fa-spinner fa-pulse"></i></span>
  <span *ngIf="!['initializing','starting','stopping','deleting','migrating','rebuilding'].includes(server.status)">
                 <svg class="server-status-indicator"
                      [ngClass]="{'server-status-indicator--on': server.status == 'running','server-status-indicator--off': server.status !== 'running'}"
                      height="25px" viewBox="0 0 50 50" width="25px" xmlns="http://www.w3.org/2000/svg">
                <circle class="server-status-indicator__back ng-trigger ng-trigger-serverState-backCircle" cx="25"
                        cy="25"
                        r="25">

                </circle>
                <circle class="server-status-indicator__front ng-trigger ng-trigger-serverState-frontCircle" cx="25"
                        cy="25"
                        r="25">
                </circle>
              </svg>
  </span>
   </span>
  <span *ngIf="hasIssue != -1 && hasIssue != 0">
    <span *ngIf="hasIssue == -2"><i class="fas fa-spin fa-spinner"></i>
    </span>
    <span *ngIf="hasIssue == 1"><i class="fas fa-exclamation-triangle"
                                   [tooltip]="issue['title_'+config.language]+' ('+issue.start+')'" positionV="bottom"
                                   arrow></i></span>
  </span>
</span>
