<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <i class="fas fa-bars fa-2x"></i>
    </button>
    <ion-title>
      {{ 'PAGE.SETTINGS.TITLE' | translate }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-list-header>
      {{ 'PAGE.SETTINGS.APP.TITLE' | translate }}
    </ion-list-header>
    <ion-item (click)="setUpDeveloperMode()">
      <ion-note item-start="">
        <ion-label text-wrap>{{ 'PAGE.SETTINGS.APP.VERSION' | translate }}</ion-label>
      </ion-note>
      <ion-note item-end="">
        {{ config.version }}
      </ion-note>
    </ion-item>
    <ion-item *ngIf="config.developer_mode">
      <ion-label text-wrap color="danger" class="message_box error" (click)="openDeveloperMode()">Developer Area
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-note item-start="">
        <ion-label text-wrap>{{ 'PAGE.SETTINGS.APP.LATEST_UPDATE.TITLE' | translate }}</ion-label>
      </ion-note>
      <ion-note item-end="">
        {{'PAGE.SETTINGS.APP.LATEST_UPDATE.TEXT' | translate |replacePrice }}
      </ion-note>
    </ion-item>

    <ion-item>
      <ion-label text-wrap>{{ 'PAGE.SETTINGS.APP.LANGUAGE' | translate }}</ion-label>
      <ion-select [(ngModel)]="language" (ionChange)="changeLanguage()" id="language">
        <ion-option value="de">Deutsch</ion-option>
        <ion-option value="en">English</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label (click)="openPrivacyPage()"><i
        class="fas fa-info-circle"></i> {{ 'PAGE.SETTINGS.APP.PRIVACY.TRACKING.TITLE' | translate }}
      </ion-label>
      <ion-toggle [(ngModel)]="tracking" (ionChange)="changeTracking()"></ion-toggle>
    </ion-item>
    <ion-item *ngIf="tracking">
      <ion-note>{{ config.device_id }} <i class="fas fa-copy" (click)="copyDeviceId()"></i></ion-note>
    </ion-item>
    <ion-list-header>
      Cloud Features
    </ion-list-header>
    <ion-item>
      <ion-label text-wrap [tooltip]="'PAGE.SETTINGS.APP.FEATURES.CLOUD.STATUS.DESCRIPTION' | translate" arrow
                 positionV="top"><i
        class="fas fa-info-circle"></i> {{ 'PAGE.SETTINGS.APP.FEATURES.CLOUD.STATUS.TITLE' | translate }}
      </ion-label>
      <ion-toggle [(ngModel)]="cloud_status" (ionChange)="changeCloudStatus()"></ion-toggle>
    </ion-item>
    <!--<ion-item>
      <ion-label text-wrap>{{ 'PAGE.SETTINGS.APP.ANALYTICS' | translate }}</ion-label>
      <ion-toggle [(ngModel)]="analytics" (ionChange)="changeAnalytics()"></ion-toggle>
    </ion-item>-->
    <ion-list-header>
      {{ 'PAGE.SETTINGS.SECURITY.TITLE' | translate }}
    </ion-list-header>
    <ion-item *ngIf="finger_print >= 0">
      <ion-label text-wrap>{{ 'PAGE.SETTINGS.SECURITY.AUTH.TITLE' | translate }}</ion-label>
      <ion-toggle [(ngModel)]="finger_print" (ionChange)="openFingerprint()"></ion-toggle>
    </ion-item>
    <p ion-item="" class="message_box info" *ngIf="finger_print == -1" text-wrap=""
       [innerHTML]="'PAGE.SETTINGS.SECURITY.AUTH.NOT_AVAILABLE' | translate "></p>
    <ion-list-header>
      Design
    </ion-list-header>
    <ion-item>
      <ion-label text-wrap>{{ 'PAGE.SETTINGS.DESIGN.COMPACT_SERVERS' | translate }}</ion-label>
      <ion-toggle [(ngModel)]="compact_server_design" (ionChange)="changeServersDesign()"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label text-wrap>{{ 'PAGE.SETTINGS.DESIGN.DARK_DESIGN' | translate }}</ion-label>
      <ion-toggle [(ngModel)]="dark_design" (ionChange)="changeDarkDesignState()"></ion-toggle>
    </ion-item>
  </ion-list>
  <button ion-button="" color="danger" (click)="openDeleteAllPage()">
    {{ 'PAGE.DELETE_ALL.TITLE' | translate }}
  </button>
</ion-content>
