<ion-header>
  <ion-toolbar>
    <ion-title>
      {{ 'PAGE.FLOATING_IPS.MODAL.ADD.TITLE' | translate}}
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text showWhen="ios" class="text-white">{{ 'ACTIONS.CANCEL' | translate}}</span>
        <i class="fas fa-times" showWhen="android,windows"></i>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label fixed>{{ 'PAGE.FLOATING_IPS.MODAL.ADD.FORM.DESCRIPTION' | translate | replacePrice}}</ion-label>
      <ion-input type="text" value="" [(ngModel)]="description" required="" id="description"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>{{ 'PAGE.FLOATING_IPS.MODAL.ADD.FORM.NETWORK_PROTOCOL' | translate}}</ion-label>
      <ion-select [(ngModel)]="type" required="" interface="popover" id="type">
        <ion-option value="ipv4">IPv4</ion-option>
        <ion-option value="ipv6">IPv6</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>{{ 'PAGE.FLOATING_IPS.MODAL.ADD.FORM.LOCATION' | translate}}</ion-label>
      <ion-select [(ngModel)]="location" interface="popover" id="location">
        <ion-option *ngFor="let location of locationService.locations" [value]="location">{{location.description}}
        </ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>{{ 'PAGE.FLOATING_IPS.MODAL.ADD.FORM.SERVER' | translate}}</ion-label>
      <ion-select [(ngModel)]="server" interface="popover" id="server">
        <ion-option *ngFor="let _server of servers" [value]="_server">
          {{ _server.name }}
        </ion-option>
      </ion-select>
    </ion-item>
    <p ion-item="" text-wrap="" class="message_box info">
      {{ 'PAGE.FLOATING_IPS.MODAL.ADD.FORM.INFO' | translate | replacePrice}}
    </p>
  </ion-list>
  <button ion-button color="danger" (click)="createFloatingIP()">{{ 'ACTIONS.ORDER' | translate}}</button>
  <p class="message_box error" *ngIf="error != null"  id="error_floating_ip">{{ error | translate }}</p>
</ion-content>
