modal-console {
  #console_container{
    position: relative;
    height: 90%;
    width: 100%;
  }
  #noVNC_status_bar {
    width: 100%;
    display:flex;
    justify-content: space-between;
  }

  #noVNC_status {
    color: #fff;
    font: bold 12px Helvetica;
    margin: auto;
  }

}
