modal-console {
  #console_container{
    position: relative;
    margin:0;
    background-color:#313131;
    border-bottom-right-radius: 800px 600px;
    height:100%;
    display: flex;
    flex-direction: column;
  }
  #noVNC_status_bar {
    width: 100%;
    display:flex;
    justify-content: space-between;
  }

  #noVNC_status {
    color: #fff;
    font: bold 12px Helvetica;
    margin: auto;
  }
  #noVNC_keyboardinput {
    width: 1px;
    height: 1px;
    background-color: #fff;
    color: #fff;
    border: 0;
    position: absolute;
    left: -40px;
    z-index: -1;
    ime-mode: disabled;
  }
  #noVNC_buttons {
    padding: 1px;
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }
}
