<ion-header>
  <ion-navbar>

    <ion-title>{{server.name}} - {{ 'PAGE.SERVERS.MODAL.METRICS.TITLE' | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list style="margin-bottom: 60px;">
    <ion-list-header>
      {{ 'PAGE.SERVERS.MODAL.METRICS.POINTS.TITLE' | translate}}
    </ion-list-header>
    <ion-item>
      <ion-label>{{ 'PAGE.SERVERS.MODAL.METRICS.POINTS.START' | translate}}</ion-label>
      <ion-datetime displayFormat="DD.MM.YYYY" [min]="min" [max]="max" [(ngModel)]="time_start"
                    (ionChange)="load()"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>{{ 'PAGE.SERVERS.MODAL.METRICS.POINTS.END' | translate}}</ion-label>
      <ion-datetime displayFormat="DD.MM.YYYY" [max]="max" [(ngModel)]="time_end" (ionChange)="load()"></ion-datetime>
    </ion-item>
    <ion-list-header>
      {{ 'PAGE.SERVERS.MODAL.METRICS.GRAPHS.CPU' | translate}}
    </ion-list-header>
    <ion-item>
      <div style="display: block;">
        <canvas baseChart width="100" height="50"
                [data]="cpu_metrics" chartType="line" [labels]="cpu_metrics_label" *ngIf="cpu_metrics.length > 0"
                [options]="options" [legend]="false" id="cpu">
        </canvas>
      </div>

    </ion-item>
    <ion-list-header>
      {{ 'PAGE.SERVERS.MODAL.METRICS.GRAPHS.DISK_IOPS' | translate}}
    </ion-list-header>
    <ion-item>
      <div style="display: block;">
        <canvas baseChart width="100" height="50"
                [datasets]="disk_metrics" chartType="line" [labels]="disk_labels" *ngIf="disk_metrics.length > 0"
                [options]="options" id="disk_iops">
        </canvas>
      </div>

    </ion-item>
    <ion-list-header>
      {{ 'PAGE.SERVERS.MODAL.METRICS.GRAPHS.DISK_BANDWIDTH' | translate}}
    </ion-list-header>
    <ion-item>
      <div style="display: block;">
        <canvas baseChart width="100" height="50"
                [datasets]="disk_bandwidth_metrics" chartType="line" [labels]="disk_bandwidth_labels"
                *ngIf="disk_bandwidth_metrics.length > 0"
                [options]="mb_options" id="disk_bandwidth">
        </canvas>
      </div>

    </ion-item>
    <ion-list-header>
      {{ 'PAGE.SERVERS.MODAL.METRICS.GRAPHS.NETWORK_PPS' | translate}}
    </ion-list-header>
    <ion-item>
      <div style="display: block;">
        <canvas baseChart width="100" height="50"
                [datasets]="network_pps_metrics" chartType="line" [labels]="network_pps_labels"
                *ngIf="network_pps_metrics.length > 0"
                [options]="options" id="network_pps">
        </canvas>
      </div>

    </ion-item>
    <ion-list-header>
      {{ 'PAGE.SERVERS.MODAL.METRICS.GRAPHS.NETWORK_BANDWIDTH' | translate}}
    </ion-list-header>
    <ion-item>
      <div style="display: block;">
        <canvas baseChart width="100" height="50"
                [datasets]="network_bandwidth_metrics" chartType="line" [labels]="network_bandwidth_labels"
                *ngIf="network_bandwidth_metrics.length > 0"
                [options]="mb_options" id="network_bandwidth">
        </canvas>
      </div>

    </ion-item>
  </ion-list>

</ion-content>
