<!-- Generated template for the ServerInformationComponent component -->
<ion-toolbar class="server-information-toolbar">
  <ion-row>
    <ion-col col-2 *ngIf="hidden.type == undefined || hidden.type == false">
      <div id="server_type_description">{{server.server_type.name}}</div>
      <div id="server_id">#{{server.id}}</div>
    </ion-col>
    <ion-col>
      <ion-row>
        <ion-col [tooltip]="'CLOUD.COMPONENTS.SERVER_INFORMATION.CPU'|translate" positionV="bottom">
          <hc-icon icon="#cpu"></hc-icon>
          <div class="detail_information">
            <div class="number">{{ server.server_type.cores }}</div>
          </div>
        </ion-col>
        <ion-col [tooltip]="'CLOUD.COMPONENTS.SERVER_INFORMATION.RAM'|translate" positionV="bottom">
          <hc-icon icon="#ram"></hc-icon>
          <div class="detail_information">
            <div class="number">{{ server.server_type.memory }} GB</div>
          </div>
        </ion-col>
        <ion-col [tooltip]="'CLOUD.COMPONENTS.SERVER_INFORMATION.DISK'|translate" positionV="bottom">
          <hc-icon icon="#nvmedisk"></hc-icon>
          <div class="detail_information">
            <div class="number">{{ server.server_type.disk }} GB</div>
          </div>
        </ion-col>
        <ion-col [tooltip]="'CLOUD.COMPONENTS.SERVER_INFORMATION.PRICE'|translate" positionV="bottom">
          <hc-icon icon="#euro"></hc-icon>
          <div class="detail_information">
            <div
              class="number">{{ server.server_type.prices[0].price_monthly.gross | number:'1.2-2' | formatMoney }}
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-toolbar>
