
page-server-details {
  .server-information-toolbar {
    #server_type_description {
      font-size: 18px;
      font-weight: bold;
      text-align: center;
      width: 100%;
      margin-top: 5px;
      text-transform: uppercase;
    }
    #server_id {
      font-size: 8px;
      text-align: center;
    }
    hc-icon .hc-icon {
      //margin: 5px auto -5px auto;
      //transform: translateY(-50%) !important;
      width: 22px;
      height: 22px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    .detail_information {
      text-align: center;
      //margin: 0 auto;
      .number {
        font-size: 18px;
        font-weight: bold;
      }
      .type {
        text-transform: uppercase;
      }
    }
  }
}

.light-design {
  .server-information-toolbar {
    .toolbar-background {
      background-color: #FFFFFF !important;
    }
    .toolbar-title {
      color: #000000 !important;
    }

    hc-icon .hc-icon {
      fill: #d50c2d;
    }
  }
}

.dark-design {
  .server-information-toolbar {
    .toolbar-background {
      background-color: $dark_theme_sub_menu_color !important;
    }
    .toolbar-title, #server_type_description, #server_id, .number, .type {
      color: #ffffff !important;
    }

    hc-icon .hc-icon {
      fill: #d50c2d;
    }
  }
}
