<!-- Generated template for the SelectDatacenterComponent component -->
<div>
  <ion-segment [(ngModel)]="type">
    <ion-segment-button value="local" color="danger">
      Local Storage (NVME SSD)
    </ion-segment-button>
    <ion-segment-button value="network">
      Network Storage (CEPH)
    </ion-segment-button>
  </ion-segment>
  <div [ngSwitch]="type">
    <div *ngSwitchCase="'local'">
      <div *ngFor="let item of server_types_local" [ngClass]="{'select-box--selected':selectedParent == item.id}"
           (click)="selectItem(item)"
           class="select-box">
        <div class="select-box__top server-type__price">
          <div class="server-type__name">{{ item.name }}</div>
          <div class="server-type__price-monthly">
                <span class="server-type__price-monthly-value">
                    {{item.prices[0].price_monthly.gross | number:'1.2-2'}}&nbsp;€</span>/mo
          </div>
          <div class="server-type__price-hourly">
            {{item.prices[0].price_hourly.gross | number:'1.2-7'}}&nbsp;€/h
          </div>
        </div>
        <div class="select-box__bottom server-type__specs"
             [ngClass]="{'select-box__option--selected':selectedParent == item.id}">
          <table>
            <tbody>
            <tr>
              <td>{{ item.cores }}</td>
              <td class="server-type__spec-description">CPU</td>
            </tr>
            <tr>
              <td>{{ item.memory }} GB</td>
              <td class="server-type__spec-description">RAM</td>
            </tr>
            <tr>
              <td>{{ item.disk }} GB</td>
              <td class="server-type__spec-description">SSD</td>
            </tr>
            <tr>
              <td>20 TB</td>
              <td class="server-type__spec-description">TRAFFIC</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div *ngSwitchCase="'network'">
      <div *ngFor="let item of server_types_ceph" [ngClass]="{'select-box--selected':selectedParent == item.id}"
           (click)="selectItem(item)"
           class="select-box">
        <div class="select-box__top server-type__price">
          <div class="server-type__name">{{ item.name }}</div>
          <div class="server-type__price-monthly">
                <span class="server-type__price-monthly-value">
                    {{item.prices[0].price_monthly.gross | number:'1.2-2'}}&nbsp;€</span>/mo
          </div>
          <div class="server-type__price-hourly">
            {{item.prices[0].price_hourly.gross | number:'1.2-7'}}&nbsp;€/h
          </div>
        </div>
        <div class="select-box__bottom server-type__specs"
             [ngClass]="{'select-box__option--selected':selectedParent == item.id}">
          <table>
            <tbody>
            <tr>
              <td>{{ item.cores }}</td>
              <td class="server-type__spec-description">CPU</td>
            </tr>
            <tr>
              <td>{{ item.memory }} GB</td>
              <td class="server-type__spec-description">RAM</td>
            </tr>
            <tr>
              <td>{{ item.disk }} GB</td>
              <td class="server-type__spec-description">SSD</td>
            </tr>
            <tr>
              <td>20 TB</td>
              <td class="server-type__spec-description">TRAFFIC</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
