page-account-list {
  .revoked {
    .project_header {
      opacity: 0.4;
    }

    ion-badge {
      color: #fff;
      background-color: #f53d3d !important;

    }
  }
  ion-badge {
    color: #fff;
    background-color: #32db64 !important;
  }
}
