<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <i class="fas fa-bars"></i>
    </button>
    <ion-title>
      Einstellungen
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-list-header>
      App Informationen
    </ion-list-header>
    <div ion-item="">
      <span item-left>Version:</span>
      <span item-right>{{ version }}</span>
    </div>
    <ion-list-header>
      Sicherheit
    </ion-list-header>
    <ion-item *ngIf="finger_print >= 0">
    <ion-label>Authentifizierung</ion-label>
    <ion-toggle [(ngModel)]="finger_print" (ionChange)="openFingerprint()"></ion-toggle>
  </ion-item>
    <p ion-item="" class="message_box info" *ngIf="finger_print == -1" text-wrap="">Leider ist keine sichere Authentifzierung auf Ihrem Gerät vorhanden.</p>
  </ion-list>
  <button ion-button="" color="danger" (click)="openDeleteAllPage()">
    Alle Daten löschen
  </button>
</ion-content>
