<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <i class="fas fa-bars fa-2x"></i>
    </button>
    <ion-title id="server_detail_name" *ngIf="storagebox != null">{{ storagebox.name.length > 0 ? storagebox.name : storagebox.product }}</ion-title>
    <ion-buttons end>
      <loading-indicator (action)="refresh()" [loading]="loading" [loading_done]="loading_done"></loading-indicator>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content *ngIf="storagebox != null">

  <ion-list style="margin-top: 60px;">
    <ion-list-header>
      {{ 'ROBOT.PAGE.STORAGE_BOX_DETAILS.INFORMATION.TITLE' | translate}}
    </ion-list-header>
    <ion-item>
      <div item-left="" class="inner-item">
        {{ 'ROBOT.PAGE.STORAGE_BOX_DETAILS.INFORMATION.PRODUCT' | translate}}
      </div>
      <div item-right="">
        {{ storagebox.product}}
      </div>
    </ion-item>
    <ion-list-header>
      {{ 'ROBOT.PAGE.STORAGE_BOX_DETAILS.NETWORK.TITLE' | translate}}
    </ion-list-header>
    <ion-item>
      <div item-left="" class="inner-item">
        {{ 'ROBOT.PAGE.STORAGE_BOX_DETAILS.NETWORK.SERVER' | translate}}
      </div>
      <div item-right="">
        {{ storagebox.server}}
      </div>
    </ion-item>
    <ion-item>
      <div item-left="" class="inner-item">
        {{ 'ROBOT.PAGE.STORAGE_BOX_DETAILS.NETWORK.WEBDAV' | translate}}
      </div>
      <div item-right="">
        <i class="fas" [ngClass]="{'fa-check':storagebox.webdav,'fa-times':!storagebox.webdav}"></i>
      </div>
    </ion-item>
    <ion-item>
      <div item-left="" class="inner-item">
        {{ 'ROBOT.PAGE.STORAGE_BOX_DETAILS.NETWORK.SAMBA' | translate}}
      </div>
      <div item-right="">
        <i class="fas" [ngClass]="{'fa-check':storagebox.samba,'fa-times':!storagebox.samba}"></i>
      </div>
    </ion-item>
    <ion-item>
      <div item-left="" class="inner-item">
        {{ 'ROBOT.PAGE.STORAGE_BOX_DETAILS.NETWORK.ZFS' | translate}}
      </div>
      <div item-right="">
        <i class="fas" [ngClass]="{'fa-check':storagebox.zfs,'fa-times':!storagebox.zfs}"></i>
      </div>
    </ion-item>
    <ion-list-header>
      {{ 'ROBOT.PAGE.STORAGE_BOX_DETAILS.PAYMENT.TITLE' | translate}}
    </ion-list-header>
    <ion-item>
      <div item-left="" class="inner-item">
        {{ 'ROBOT.PAGE.STORAGE_BOX_DETAILS.PAYMENT.UNTIL' | translate}}
      </div>
      <div item-right="">
        {{ storagebox.paid_until }}
      </div>
    </ion-item>
    <ion-item *ngIf="storagebox.cancelled">
      <div item-left="" class="inner-item">
        {{ 'ROBOT.PAGE.STORAGE_BOX_DETAILS.PAYMENT.CANCELLED' | translate}}
      </div>
      <div item-right="">
        Cancelled
      </div>

    </ion-item>
  </ion-list>
  <ion-fab right bottom>
    <button ion-fab color="primary" id="server_actions">
      <i class="fas fa-angle-up"></i>
    </button>
    <ion-fab-list side="top">
      <button ion-fab color="danger" (click)="backupSettingsModal()" disabled>
        <div class="label" color="light">{{ 'ROBOT.PAGE.STORAGE_BOX_DETAILS.ACTIONS.SNAPSHOTS' | translate}}</div>
        <i class="fas fa-hdd"></i>
      </button>
      <button ion-fab color="danger" (click)="powerSettingsModal()" id="rdns" disabled>
        <div class="label" color="danger">{{ 'ROBOT.PAGE.STORAGE_BOX_DETAILS.ACTIONS.SUB_ACCOUNTS' | translate}}</div>
        <i class="fas fa-user"></i>
      </button>
      <button ion-fab (click)="openEditModal()" color="secondary" id="rename_storage_box">
        <div class="label" color="secondary">{{ 'ACTIONS.EDIT' | translate}}</div>
        <i class="fas fa-pencil-alt"></i>
      </button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
