<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Hetzner Cloud Mobile</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <button ion-item="" (click)="openHomePage()" menuClose="">
        <i class="fas fa-fw fa-home"></i> {{ 'PAGE.HOME.TITLE' | translate }}
      </button>
      <button ion-item="" (click)="openProjectsPage()" menuClose="">
        <i class="fas fa-fw fa-lock"></i> Projekte
      </button>
      <button ion-item *ngIf="projects.actual_project != null" (click)="openServersPage()" menuClose="">
        <i class="fas fa-fw fa-server"></i> Server
      </button>
      <button ion-item *ngIf="projects.actual_project != null" (click)="openFloatingIPsPage()" menuClose="">
        <i class="fas fa-fw fa-cloud"></i> Floating IPs
      </button>
      <button ion-item *ngIf="projects.actual_project != null" (click)="openImagesPage()" menuClose="">
        <i class="fas fa-puzzle-piece fa-fw"></i> Images
      </button>
      <button ion-item menuClose="" (click)="openHetznerStatusPage()">
        <i class="fas fa-bell fa-fw"></i> {{ 'PAGE.STATUS.TITLE' | translate }}
      </button>
      <button ion-item menuClose="" (click)="openSettingsPage()">
        <i class="fas fa-cogs fa-fw"></i> {{ 'PAGE.SETTINGS.TITLE' | translate }}
      </button>
      <button ion-item (click)="openAboutPage()" menuClose=""
              style="position: fixed; bottom:0; text-align: center;font-size:12px;">
        {{ 'PAGE.ABOUT.TITLE' | translate }}
      </button>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-nav id="nav" #content [root]="rootPage"></ion-nav>


