<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <i class="fas fa-bars fa-2x"></i>
    </button>
    <ion-title>
      {{ 'PAGE.STATUS.TITLE' | translate }}
    </ion-title>
    <ion-buttons end>
      <loading-indicator (action)="loadMessages()" [loading]="loading"
                         [loading_done]="loading_done"></loading-indicator>
      <button ion-button (click)="openSettings()">
        <i class="fas fa-ellipsis-v"></i>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <p class="message_box error" *ngIf="!network.has_connection"> {{ 'GLOBAL.FEATURE_NEEDS_CONNECTION' | translate}}</p>
  <div *ngIf="network.has_connection">
    <ion-card *ngFor="let message of messages" [id]="'status_'+message.external_id" class="card-status">
      <ion-card-header text-wrap>
        {{ message['title_'+config.language] }}
        <ion-icon name="link" item-start (click)="openPage(message['permalink_'+config.language])"></ion-icon>
      </ion-card-header>
      <ion-card-content>
        <div >
          <p [innerHTML]="message['description_'+config.language]" text-wrap="" class="text"></p>
          <p [innerHTML]="message['affected_'+config.language]" text-wrap="" class="text"></p>
          <p [innerHTML]="message['start']" text-wrap="" class="text"></p>
          <p [innerHTML]="message['end']" text-wrap=""
             *ngIf="message['end_'+config.language] != null" class="text"></p>
          <ion-list *ngIf="message.children.length > 0">

            <ion-item-group *ngFor="let child of message.children">
              <ion-item-divider color="light" text-wrap="">{{ child['title_'+config.language] }}
                <ion-icon name="link" item-start (click)="openPage(child['permalink_'+config.language])" class="text"></ion-icon>
              </ion-item-divider>
              <ion-item>
                <p [innerHTML]="child['description_'+config.language]" text-wrap="" class="text"></p>
              </ion-item>
            </ion-item-group>
          </ion-list>
        </div>
      </ion-card-content>

    </ion-card>
  </div>
</ion-content>
