page-server-details {
  button:disabled {
    opacity: 0.5 !important;
  }
  .server-details__headline {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
  }
  ion-card {
    height: 100%;
  }
  .map {
    height: 100%;
    width: 100%;
    hc-icon .hc-icon {
      .map-icon__map {;
      }
    }
  }

}
