<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <i class="fas fa-bars fa-2x"></i>
    </button>
    <ion-title>Meine Projekte</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-searchbar (ionInput)="search($event)"></ion-searchbar>
  <ion-card>
    <ion-list>

      <ion-item *ngFor="let _project of _projects"
                [color]="project.actual_project != null && (_project.api_key == project.actual_project.api_key && _project.name == project.actual_project.name) ? 'primary':'none' "
                (click)="openActionSheets(_project)">

        <div (click)="select(_project,slidingItem)">
          <h2>{{ _project.name }} <span
            *ngIf="project.actual_project != null && (_project.api_key == project.actual_project.api_key && _project.name == project.actual_project.name)"><em>AKTIV</em></span>
          </h2>
        </div>
      </ion-item>

      <ion-item *ngIf="project.projects == null || project.projects.length == 0" class="message_box info" text-wrap="">
        Oh! Es sieht so aus als wäre hier noch kein Projekt hinterlegt.
      </ion-item>
    </ion-list>
  </ion-card>
  <ion-fab bottom right>
    <button ion-fab color="secondary" (click)="openProjectModal()">
      <i class="fas fa-plus"></i>
    </button>
  </ion-fab>

</ion-content>
