<ion-header>
  <ion-toolbar>
    <ion-title>
      Backup Einstellungen
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text showWhen="ios" class="text-white">{{ 'ACTIONS.CANCEL' | translate}}</span>
        <i class="fas fa-times" showWhen="android,windows"></i>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      BACKUPS
    </ion-card-header>
    <ion-card-content>
      <p>

        Backups sind automatische Kopien der Festplatte Ihres Servers.<br/><br/>

        Jeder Server erhält 7 Slots für Backups. Wenn alle Slots belegt sind und ein neues Backup gestartet wird, wird
        automatisch das älteste Backup gelöscht.<br/><br/>

        Wir empfehlen Ihnen den Server herunterzufahren, bevor Sie ein manuelles Backup erstellen, um sicherzustellen,
        dass die Daten auf der Festplatte konsistent sind.<br/><br/>

        Durch das Aktivieren des Backups entstehen monatlich wiederkehrende Kosten von 20 % des Server-Tarifs.<br/>
      </p>
      <p *ngIf="create_backup_done === true" class="message_box success">Das Backup wurde erfolgreich erstellt.</p>
      <button ion-button="" color="danger" (click)="create_backup()" *ngIf="server.backup_window != null">Jetzt Backup
        kostenpflichtig erstellen
      </button>
      <button (click)="disable_backups()" ion-button color="danger" *ngIf="server.backup_window != null">Backups
        deaktivieren
      </button>
      <ion-list *ngIf="server.backup_window == null">
        <ion-item>
          <ion-label>Backups zwischen</ion-label>
          <ion-select [(ngModel)]="backup_window" required="">
            <ion-option value="22-02">22 Uhr und 02 Uhr</ion-option>
            <ion-option value="02-06">02 Uhr und 06 Uhr</ion-option>
            <ion-option value="06-10">06 Uhr und 10 Uhr</ion-option>
            <ion-option value="10-14">10 Uhr und 14 Uhr</ion-option>
            <ion-option value="14-18">14 Uhr und 18 Uhr</ion-option>
            <ion-option value="18-22">18 Uhr und 22 Uhr</ion-option>
          </ion-select>
        </ion-item>
      </ion-list>
      <button ion-button="" color="danger" (click)="enable_backups()" *ngIf="server.backup_window == null">Kostenpflicht Backups konfigurieren</button>

    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      SNAPSHOT
    </ion-card-header>
    <ion-card-content>
      <p>

        Snapshots sind sofortige Kopien der Festplatten Ihres Servers.<br/>

        Sie können neue Server aus Snapshots erstellen oder diese zwischen Projekten verschieben.<br/>

        Wir empfehlen Ihnen den Server herunterzufahren, bevor Sie einen Snapshot erstellen, um sicherzustellen dass die
        Daten auf der Festplatte konsistent sind.<br/>

        Snapshots erzeugen monatlich wiederkehrende Kosten von 0,0119 €/GB/Monat (inkl. 19 % USt.).<br/>
      </p>
      <p *ngIf="create_snapshot_done === true" class="message_box success">Der Snapshot wurde erfolgreich erstellt.</p>

      <button ion-button="" color="danger" (click)="create_snapshot()">Snapshot kostenpflichtig erstellen</button>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      REBUILD
    </ion-card-header>
    <ion-card-content>
      <p>
        Bei einem Rebuild wird Ihr Server ausgeschaltet und die Festplatte mit dem ausgewählten Image
        überschrieben.<br/>

        Alle bestehenden Daten auf der Festplatte werden überschrieben!
      </p>
      <ion-list>
        <ion-item>
          <ion-label>Image</ion-label>
          <ion-select [(ngModel)]="image" required="">
            <ion-option *ngFor="let _image of images" [value]="image">
              {{ _image.description }} (Typ: {{ _image.type }})
            </ion-option>
          </ion-select>
        </ion-item>
      </ion-list>
      <button ion-button="" color="danger" (click)="rebuild_from_image()">REBUILD</button>

    </ion-card-content>
  </ion-card>
</ion-content>
