<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <i class="fas fa-bars fa-2x"></i>
    </button>
    <ion-title>{{ 'ROBOT.PAGE.SERVER_MARKET.TITLE' | translate}}</ion-title>
    <ion-buttons end>
      <loading-indicator (action)="loadServers()" [loading]="loading" [loading_done]="loading_done"></loading-indicator>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

    <ion-searchbar
      [(ngModel)]="search"
      (ionInput)="doSearch($event)" [placeholder]="'ACTIONS.SEARCH' | translate">
    </ion-searchbar>
  <ion-card>
    <ion-list>
      <ion-item *ngFor="let market_entry of _search" class="ssh_key"
                [attr.data-test]="market_entry.product.name" (click)="openOrder(market_entry.product)">
        <div>
          <h2>{{ market_entry.product.name }}</h2>
          <p text-wrap="">{{ market_entry.product.description.join(' ') }}</p>
          <p text-wrap="">Datacenter: {{ market_entry.product.datacenter}} <br /> Traffic: {{ market_entry.product.traffic }} <br /> <strong>Setup:{{market_entry.product.price_setup_vat | number:'1.0-0'}} &euro;</strong></p>
        </div>
        <div item-end="">{{market_entry.product.price_vat | number:'1.0-0'}} &euro;<br />{{ market_entry.product.fixed_price ? 'Fixprice':('Next Reduce:'+(market_entry.product.next_reduce / 60 | number:'1.0-0')+ ' min')}}</div>
      </ion-item>

      <p ion-item *ngIf="market_entries == null || market_entries.length == 0" text-wrap="" class="message_box info">
        {{ 'ROBOT.PAGE.SERVER_MARKET.NO_SERVERS' | translate}}
      </p>
    </ion-list>
  </ion-card>
</ion-content>
