<ion-header>
  <ion-toolbar>
    <ion-title>
      {{ 'PAGE.SERVERS.MODAL.RESCUE_MODUS.TITLE' | translate}}
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text showWhen="ios" class="text-white">{{ 'ACTIONS.CANCEL' | translate}}</span>
        <i class="fas fa-times" showWhen="android,windows"></i>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>

    <ion-card-content>
      <p [innerHTML]="'PAGE.SERVERS.MODAL.RESCUE_MODUS.DESCRIPTION.RESCUE_MODE'|translate" text-wrap=""></p>
      <p *ngIf="root_password_reset != null" class="message_box success" translate="" [translateParams]="{root_password_reset:root_password_reset}">PAGE.SERVERS.MODAL.RESCUE_MODUS.DESCRIPTION.NEW_CREDENTIALS</p>
      <button (click)="rescueActivate()" ion-button color="danger">{{ 'PAGE.SERVERS.MODAL.RESCUE_MODUS.ACTIONS.ACTIVATE'
        | translate}}
      </button>
      <button (click)="rescueActivateAndReset()" ion-button color="danger">{{
        'PAGE.SERVERS.MODAL.RESCUE_MODUS.ACTIONS.ACTIVATE_RESET' | translate}}
      </button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <p [innerHTML]="'PAGE.SERVERS.MODAL.RESCUE_MODUS.DESCRIPTION.RESET_ROOT_PASSWORD'|translate"></p>
      <p *ngIf="root_password != null" class="message_box success" translate="" [translateParams]="{root_password_reset:root_password}">PAGE.SERVERS.MODAL.RESCUE_MODUS.DESCRIPTION.NEW_CREDENTIALS</p>
      <button (click)="resetRootpassword()" ion-button color="danger">{{
        'PAGE.SERVERS.MODAL.RESCUE_MODUS.ACTIONS.RESET_ROOT_PASSWORD' | translate}}
      </button>
    </ion-card-content>
  </ion-card>
</ion-content>
