<ion-header>
  <ion-toolbar>
    <ion-title>
      {{ 'PAGE.SERVERS.MODAL.UPGRADE.TITLE' | translate}}
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text showWhen="ios" class="text-white">{{ 'ACTIONS.CANCEL' | translate}}</span>
        <i class="fas fa-times" showWhen="android,windows"></i>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <p [innerHTML]="'PAGE.SERVERS.MODAL.UPGRADE.DESCRIPTION' | translate">

      </p>
      <ion-list>
        <ion-item>
          <ion-label>{{ 'PAGE.SERVERS.MODAL.UPGRADE.FORM.TYPE' | translate}}</ion-label>
          <ion-select [(ngModel)]="server_type" required="">
            <ion-option *ngFor="let _server_type of server_types" [value]="_server_type" required=""
                        [translate]="'PAGE.SERVERS.MODAL.UPGRADE.FORM.PRICING'"
                        [translateParams]="{typeName:_server_type.description, typePrice:_server_type.prices[0].price_monthly.gross | number:'1.2-2'}"></ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>{{ 'PAGE.SERVERS.MODAL.UPGRADE.FORM.RESIZE_DISK' | translate}}</ion-label>
          <ion-toggle [(ngModel)]="upgrade_disk"></ion-toggle>
        </ion-item>
        <p ion-item *ngIf="server.status !== 'off'" text-wrap="">{{'PAGE.SERVERS.MODAL.UPGRADE.ERRORS.REQUIRED_SHUTDOWN'
          |translate}}</p>
        <ion-item
          *ngIf="server_type != null" text-wrap=""><strong>{{server_type.description}}</strong><br/>
          {{ 'PAGE.SERVERS.TYPE_DETAILS.CORES' | translate}} {{ server_type.cores }} <br/>{{
          'PAGE.SERVERS.TYPE_DETAILS.MEMORY' | translate}}
          {{ server_type.memory * 1024}} MB<br/>{{ 'PAGE.SERVERS.TYPE_DETAILS.DISK' | translate}}
          {{ server_type.disk }} GB<br/>
          {{ 'PAGE.SERVERS.TYPE_DETAILS.STORAGE_TYPE' | translate}} {{ server_type.storage_type }}
        </ion-item>
      </ion-list>
      <button ion-button color="danger" (click)="resizeServer()" [disabled]="(server.status != 'off')">
        {{ 'ACTIONS.ORDER' | translate}}
      </button>

      <p class="message_box error" *ngIf="error != null">{{ error | translate }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
