<ion-header>
  <ion-navbar>
    <ion-title>{{server.name}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list style="margin-bottom: 60px;">
    <ion-list-header>
      {{ 'PAGE.SERVERS.MODAL.DETAILS.INFORMATION.TITLE' | translate}}
    </ion-list-header>
    <ion-item>

      <span item-left>{{ 'PAGE.SERVERS.MODAL.DETAILS.INFORMATION.STATUS' | translate}}</span>

      <span *ngIf="server.status == 'migrating'" item-right=""><i class="fas fa-spin fa-spinner fa-pulse"></i></span>
      <span *ngIf="server.status != 'migrating'" item-right="">
                 <svg class="server-status-indicator "
                      [ngClass]="{'server-status-indicator--on': server.status == 'running','server-status-indicator--off': server.status !== 'running'}"
                      height="50px" viewBox="0 0 50 50" width="50px" xmlns="http://www.w3.org/2000/svg">
                <circle class="server-status-indicator__back ng-trigger ng-trigger-serverState-backCircle" cx="25"
                        cy="25"
                        r="25"></circle>
                <circle class="server-status-indicator__front ng-trigger ng-trigger-serverState-frontCircle" cx="25"
                        cy="25"
                        r="25"></circle>
              </svg>
              </span>

    </ion-item>
    <ion-item>
      <div item-left="">
        {{ 'PAGE.SERVERS.MODAL.DETAILS.INFORMATION.LOCATION' | translate}}
      </div>
      <div item-right="">
        {{ server.datacenter.description}}
      </div>
    </ion-item>
    <ion-item *ngIf="server.image != null">
      <div item-left="">
        {{ 'PAGE.SERVERS.MODAL.DETAILS.INFORMATION.IMAGE' | translate}}
      </div>
      <div item-right="">
        {{ server.image.description}}
      </div>
    </ion-item>
    <ion-list-header>
      {{ 'PAGE.SERVERS.MODAL.DETAILS.NETWORK.TITLE' | translate}}
    </ion-list-header>
    <ion-item>
      <div item-left="">
        {{ 'PAGE.SERVERS.MODAL.DETAILS.NETWORK.IPv4' | translate}}
      </div>
      <div item-right="">
        <span tooltip="{{ server.public_net.ipv4.dns_ptr}}" positionV="top" arrow>{{ server.public_net.ipv4.ip}}</span>
        <i class="fas fa-pencil-alt" (click)="changeIPv4ReverseDNSModal()"></i>
      </div>
    </ion-item>
    <ion-item>
      <div item-left="">
        {{ 'PAGE.SERVERS.MODAL.DETAILS.NETWORK.IPv6' | translate}}
      </div>
      <div item-right="">
        {{ server.public_net.ipv6.ip}}
        <i class="fas fa-pencil-alt" (click)="changeIPv6ReverseDNSModal()"></i>
      </div>
    </ion-item>
    <ion-item *ngIf="server.outgoing_traffic != null">
      <div item-left="">
        {{ 'PAGE.SERVERS.MODAL.DETAILS.NETWORK.TRAFFIC.OUTGOING' | translate}}
      </div>
      <div item-right="">
        {{ server.outgoing_traffic | fileSize}}
      </div>
    </ion-item>
    <ion-item *ngIf="server.ingoing_traffic != null">
      <div item-left="">
        {{ 'PAGE.SERVERS.MODAL.DETAILS.NETWORK.TRAFFIC.INGOING' | translate}}
      </div>
      <div item-right="">
        {{ server.ingoing_traffic | fileSize}}
      </div>
    </ion-item>
    <ion-list-header>
      {{ 'PAGE.SERVERS.TYPE_DETAILS.TITLE' | translate}}
    </ion-list-header>
    <ion-item>
      <div item-left="">
        {{ 'PAGE.SERVERS.TYPE_DETAILS.CORES' | translate}}
      </div>
      <div item-right="">
        {{ server.server_type.cores}}
      </div>
    </ion-item>
    <ion-item>
      <div item-left="">
        {{ 'PAGE.SERVERS.TYPE_DETAILS.MEMORY' | translate}}
      </div>
      <div item-right="">
        {{ server.server_type.memory * 1024 }} MB
      </div>
    </ion-item>
    <ion-item>
      <div item-left="">
        {{ 'PAGE.SERVERS.TYPE_DETAILS.DISK' | translate}}
      </div>
      <div item-right="">
        {{ server.server_type.disk}} GB
      </div>
    </ion-item>
    <ion-item>
      <div item-left="">
        {{ 'PAGE.SERVERS.TYPE_DETAILS.STORAGE_TYPE' | translate}}
      </div>
      <div item-right="">
        {{ server.server_type.storage_type}}
      </div>
    </ion-item>
  </ion-list>
  <ion-fab right bottom>
    <button ion-fab color="primary" id="server_actions">
      <i class="fas fa-angle-up"></i>
    </button>
    <ion-fab-list side="top">
      <button ion-fab color="danger" (click)="delete()" id="delete_server">
        <div class="label" color="danger">{{ 'PAGE.SERVERS.MODAL.DETAILS.ACTIONS.DELETE' | translate}}</div>
        <i class="fas fa-trash"></i>
      </button>
      <button ion-fab color="danger" (click)="powerSettingsModal()">
        <div class="label" color="danger">{{ 'PAGE.SERVERS.MODAL.DETAILS.ACTIONS.POWER' | translate}}</div>
        <i class="fas fa-power-off"></i>
      </button>
      <button ion-fab (click)="openEditModal()" color="secondary">
        <div class="label" color="secondary">{{ 'PAGE.SERVERS.MODAL.DETAILS.ACTIONS.EDIT' | translate}}</div>
        <i class="fas fa-pencil-alt"></i>
      </button>
      <button ion-fab color="secondary" (click)="resizeModal()">
        <div class="label" color="secondary">{{ 'PAGE.SERVERS.MODAL.DETAILS.ACTIONS.UPGRADE' | translate}}</div>
        <i class="fas fa-expand"></i>
      </button>
      <button ion-fab color="light" (click)="backupSettingsModal()">
        <div class="label" color="light">{{ 'PAGE.SERVERS.MODAL.DETAILS.ACTIONS.BACKUP' | translate}}</div>
        <i class="fas fa-hdd"></i>
      </button>
      <button ion-fab color="light" (click)="rescueModeModal()">
        <div class="label" color="light">{{ 'PAGE.SERVERS.MODAL.DETAILS.ACTIONS.RESCUE' | translate}}</div>
        <ion-icon name="help-buoy"></ion-icon>
      </button>
      <button ion-fab color="light" (click)="metricsPage()">
        <div class="label" color="light">{{ 'PAGE.SERVERS.MODAL.DETAILS.ACTIONS.METRICS' | translate}}</div>
        <i class="fas fa-chart-area"></i>
      </button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
